<div class="row">
  <div class="col-md-5 col-sm-6">
    <app-post-form
    [currentPost]="currentPost"
    [isEdit]="isEdit"
    (newPost)="onNewPost($event)"
    (updatedPost)="onUpdatePost($event)"
    ></app-post-form>
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="card mb-2 mt-2" *ngFor="let post of posts">
      <div class="card-body">
        <h4>{{ post.title }}</h4>
        <p>{{ post.body }}</p>
        <hr>
        <button (click)="removePost(post)" class="btn btn-danger m-2"><i class="fa fa-remove"></i></button>
        <button (click)="editPost(post)"  class="btn btn-secondary"><i class="fa fa-pencil"></i></button>
      </div>
    </div>
  </div>
</div>
